In [8]:
import pandas as pd

In [9]:
train = pd.read_csv('./data/train.csv', encoding='ms932')
train.head

<bound method NDFrame.head of        datetime   vol            name  temperature  special  curry
0    2019-01-06  1385    カレー入りソーセージカツ          7.3        0      1
1    2019-01-07  1376          豚肉の生姜焼          9.8        0      0
2    2019-01-08  1215          鶏チリソース         10.9        0      0
3    2019-01-09   837        手作りロースカツ          5.1        0      0
4    2019-01-13  1341     鶏の照り焼きマスタード          5.8        0      0
..          ...   ...             ...          ...      ...    ...
126  2019-07-09   560            プルコギ         28.8        0      0
127  2019-07-10  1309          ポークカレー         33.9        1      1
128  2019-07-13   579  鶏のから揚げねぎ塩炒めソース         30.9        0      0
129  2019-07-14   436       豚冷シャブ野菜添え         30.3        0      0
130  2019-07-15   494          白身魚フライ         30.9        0      0

[131 rows x 6 columns]>

In [10]:
y = train['vol']
y

0      1385
1      1376
2      1215
3       837
4      1341
       ...
126     560
127    1309
128     579
129     436
130     494
Name: vol, Length: 131, dtype: int64

In [11]:
X = train[['temperature']]

In [12]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [13]:
model.fit(X.y)

AttributeError: 'DataFrame' object has no attribute 'y'

In [14]:
model.fit(X,y)

LinearRegression()

In [15]:
model.conf_

AttributeError: 'LinearRegression' object has no attribute 'conf_'

In [16]:
model.conf_

AttributeError: 'LinearRegression' object has no attribute 'conf_'

In [17]:
model.coef_

array([-20.4366254])

In [18]:
model.intercept_

1220.5943567230104

In [19]:
test = pd.read_csv('./data/test.csv', encoding='ms932')
test.head()

     datetime  vol       name  temperature  special  curry
0  2019-07-16  620      豚すき焼き         30.1        0      0
1  2019-07-17  462      エビフライ         25.6        0      0
2  2019-07-21  564   チンジャオロース         30.2        0      0
3  2019-07-22  622        八宝菜         32.0        0      0
4  2019-07-23  707  ジャンボチキンカツ         32.5        0      0

In [20]:
testX = test[['temperature']] 
pred = model.predict(testX)
pred

array([605.45193216, 697.41674646, 603.40826962, 566.6223439 ,
       556.4040312 , 533.92374326, 629.97588264, 599.32094454,
       595.23361946, 556.4040312 , 552.31670612, 552.31670612,
       519.61810548, 513.48711786, 564.57868136, 585.01530676,
       558.44769374, 619.75756994, 562.53501882, 540.05473088,
       540.05473088, 546.1857185 , 544.14205596, 689.2420963 ,
       685.15477122, 791.42522331, 779.16324807, 707.63505916,
       742.37732235, 625.88855756, 674.93645852, 679.0237836 ,
       603.40826962, 748.50830997, 672.89279598, 709.6787217 ,
       773.03226045, 662.67448328, 632.01954518, 709.6787217 ,
       728.07168457, 738.28999727, 705.59139662, 713.76604679,
       701.50407154, 666.76180836, 676.98012106, 646.32518296])

In [21]:
from sklearn.metrics import mean_absolute_error
y_test = test['vol']

In [22]:
mae = mean_absolute_error(y_test, pred)
mae

162.1158425106297

In [23]:
 train.describe()

               vol  temperature     special       curry
count   131.000000   131.000000  131.000000  131.000000
mean    867.992366    17.253435    0.061069    0.099237
std     270.811700     8.035491    0.240376    0.300127
min     404.000000     1.200000    0.000000    0.000000
25%     637.000000     9.950000    0.000000    0.000000
50%     806.000000    18.600000    0.000000    0.000000
75%    1070.500000    23.850000    0.000000    0.000000
max    1417.000000    33.900000    1.000000    1.000000