In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('./data/train.csv', encoding='ms932')
train.head

<bound method NDFrame.head of        datetime   vol            name  temperature  special  curry
0    2019-01-06  1385    カレー入りソーセージカツ          7.3        0      1
1    2019-01-07  1376          豚肉の生姜焼          9.8        0      0
2    2019-01-08  1215          鶏チリソース         10.9        0      0
3    2019-01-09   837        手作りロースカツ          5.1        0      0
4    2019-01-13  1341     鶏の照り焼きマスタード          5.8        0      0
..          ...   ...             ...          ...      ...    ...
126  2019-07-09   560            プルコギ         28.8        0      0
127  2019-07-10  1309          ポークカレー         33.9        1      1
128  2019-07-13   579  鶏のから揚げねぎ塩炒めソース         30.9        0      0
129  2019-07-14   436       豚冷シャブ野菜添え         30.3        0      0
130  2019-07-15   494          白身魚フライ         30.9        0      0

[131 rows x 6 columns]>

In [3]:
y = train['vol']
y

0      1385
1      1376
2      1215
3       837
4      1341
       ...
126     560
127    1309
128     579
129     436
130     494
Name: vol, Length: 131, dtype: int64

In [4]:
X = train[['temperature']]

In [5]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [6]:
model.fit(X.y)

AttributeError: 'DataFrame' object has no attribute 'y'

In [7]:
model.fit(X,y)

LinearRegression()

In [9]:
model.conf_

AttributeError: 'LinearRegression' object has no attribute 'conf_'

In [10]:
model.conf_

AttributeError: 'LinearRegression' object has no attribute 'conf_'

In [11]:
model.coef_

array([-20.4366254])

In [12]:
model.intercept_

1220.5943567230104

In [13]:
test = pd.read_csv('./data/test.csv', encoding='ms932')
test.head()

     datetime  vol       name  temperature  special  curry
0  2019-07-16  620      豚すき焼き         30.1        0      0
1  2019-07-17  462      エビフライ         25.6        0      0
2  2019-07-21  564   チンジャオロース         30.2        0      0
3  2019-07-22  622        八宝菜         32.0        0      0
4  2019-07-23  707  ジャンボチキンカツ         32.5        0      0